################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreMVCSampleApp/CoreMVCSampleApp/bin/Debug/netcoreapp2.1
